/* LITE STYLES  */
*,
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff8e7;
    color: #2e4052;
}

header {
    background-color: #fff8e7;
    width: 100vw;
    height: 80px;
}

nav a {
    margin-top: 0.7rem;
    color: #52489c;
    scroll-behavior: smooth;
}


#hero_lite #pxl-shadow {
    font-family: 'Slot-Regular', sans-serif;
    padding-top: 4.2rem;
}

/* #hero_lite #tech_shadow {
    text-align: center;
    padding-top: 16.8rem;
} */

#light-glide-lite {
    position: absolute;
    top: 340px;
    height: 2px;
    width: 70px;
    background: linear-gradient(90deg, transparent, #52489c);
    animation: animate 4s infinite ease;
    overflow: hidden !important;
}

#light-glide-lite-meta {
    position: absolute;
    top: 2900px;
    height: 2px;
    width: 150px;
    background: linear-gradient(90deg, transparent, #52489c);
    animation: animate 4s infinite ease;
    overflow: hidden !important;
}

@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }

    100% {
        left: 100%;
        transform: translate(0%);
        opacity: 0.5;
    }
}

.clouds { 
    height: 100vh;
    width: 100vw;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background-image: linear-gradient(to bottom,
                rgba(255,248,231, 0) 0%,
                rgba(255,248,231, 0.2) 10%,
                rgba(255,248,231, 0.8) 60%,
                rgba(255,248,231, 1) 100%);

    z-index: -2;
    clear: both;
}

.cloud-container {
    position: relative;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: url('/public/assets/logos/pxl_banner.png');
    background-size: stretch;
    background-repeat: no-repeat;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    z-index: -4;
    clear: both;
}

.cloud-container2 {
    position: relative;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-image: url('/public/assets/logos/pxl_banner.png');
    background-size: stretch;
    background-repeat: no-repeat;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;

    /* z-index: -4; */
    clear: both;
}


    
@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        /* background-size: 3000px; */
    }

    to {
        background-position: -100px 0px;
        background-size: 2750spx;
    }
}




/* BACKGROUND VIDEO - EARF  */
#earf-lite {
    filter: invert(1);
    opacity: 0.4;
}

#earf-block-lite {
    pointer-events: none;
    background-image: url("/public/assets/logos/pixel_planet_logo_round.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#earf-block-lite img {
        border: 2.4rem solid darkred;
}


/* HERO SECTION */
.hero-text-lite h1 {
    color: #00eeff;
    background-color: #000;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
}

.hero-text-lite {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
}

.hero-text-lite #light-glide-lite {
    position: absolute;
    top: 150px;
    height: 2px;
    width: 70px;
    background: linear-gradient(90deg, transparent, #00eeff);
    animation: animate 8s infinite ease;
    overflow: hidden !important;
}

@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }

    100% {
        left: 100%;
        transform: translate(0%);
        opacity: 0.5;
    }
}

/* #about {
    background-image: linear-gradient(to bottom,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0.7) 10%,
                rgba(255, 255, 255, 0.2) 60%,
                rgba(255, 255, 255, 0) 100%) !important;
} */



/* 

.icon {
    filter: hue-rotate(7.3rad);
} */


/* #about {
    -webkit-mask-image: -webkit-gradient(linear, left top,
                left bottom, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0)));
} */

/* .panel-container {
    max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#body_lite {
   
}

.panel {
    scroll-snap-align: start;
    height: 100vh;
    margin-top: 4rem;
    margin-bottom: 4rem;
} */

/* 
.panel-container {
    overscroll-behavior: none;
    width: 600%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
} */

/* .logowall {
    filter: brightness(0.1) !important;
}

*/

.avatar {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

.avatar3 {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
    animation: float 4s ease-in-out infinite;
}

.avatar2 {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(39, 38, 38, 0.6); */
        transform: translateY(0px);
    }

    50% {
        /* box-shadow: 0 25px 15px 0px rgba(39, 38, 38, 0.2); */
        transform: translateY(-20px);
    }

    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        /* box-shadow: 0 5px 15px 0px rgba(39, 38, 38, 0.6); */
        transform: translateY(0px);
    }

    50% {
        /* box-shadow: 0 25px 15px 0px rgba(39, 38, 38, 0.2); */
        transform: translateY(-20px);
    }

    100% {
        /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
        transform: translatey(20px);
    }
}




/* MOBILE NAV STYLING */

.mobHeader {
    height: 90px;
}

.wrapper{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: #000; */
  /* background: url("../../public/assets/icons/ether.png"); */
  clip-path: circle(25px at calc(100% - 45px) 45px);
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .wrapper{
  clip-path: circle(75%);
}
.menu-btn{
  position: fixed;
  z-index: 2;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  /* background: #000; */
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn{
  color: #fff;
  background-image: url("../../public/assets/icons/close.png");
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
#active:checked ~ .menu-btn img:before{
  /* content: "\f00d"; */
  background-image: url("../../public/assets/icons/menu.png");
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
.wrapper ul{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  /* text-align: center; */
}
.wrapper ul li{
  /* margin: 15px 0; */
  width: 100%;
}
.wrapper ul li a{
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  /* padding: 5px 30px; */
  color: #fff;
  border-radius: 50px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after{
  position: absolute;
  content: "";
  /* background: #fff; */
  background: linear-gradient(45deg, #fff8e7, #52489c, #00eeff, #ff0e71, #ff9c0e);
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%;
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after{
  transform: scaleY(1);
}
.wrapper ul li a:hover{
  color: #000;
}
input[type="checkbox"]{
  display: none;
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  /* color: #202020; */
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}
.content p{
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}


/* html,
body {
    margin: 0;
    padding: 0;
} */

.nav-container {
    /* max-width: 500px; */
    position: absolute;
    top: 60%;
    left: 35%;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    z-index: 1000000000;
    /* box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02); */
}

#background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #2e4052;
    z-index: -1;
}