/* stylelint-disable color-function-notation */
/* stylelint-disable selector-class-pattern */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SITE WIDE HEADINGS and TEXT */

@font-face {
    font-family: 'Slot-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Slot-Regular'), url('../fonts/Slot_Font/Slot-Regular.otf') format('opentype');
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Slot-Regular', sans-serif;
    font-size: 48px;
    color: #00eeff;
}


h1 {
    @apply text-6xl font-black ;
}

h2 {
    @apply text-5xl font-bold;
}

h3 {
    @apply text-3xl font-semibold;
}

h4 {
    @apply text-xl font-medium;
}

h5 {
    @apply text-lg font-medium;
}

p {
    @apply p-2 m-6;
}

/* SITE WIDE BUTTONS/LINKS STYLES */
button, .btn {
    @apply outline-double outline-offset-2 outline-cy text-light py-2 px-2 rounded border-0 py-2 px-8 text-lg inline-flex items-center;
}

button:hover, .btn:hover {
    @apply bg-cy text-space cursor-pointer;
}

a{
    @apply text-cy cursor-pointer
}

a:hover{
    @apply text-flame
}

.current-page {
    @apply text-flame
}


/* Button Animations  */
.btn:hover, a:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

/* SPAN ANIMATIONS  */
span, .menu li a {
    position: relative;
}

span::before,
span::after, .menu li a::before, .menu li a::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #fff;
    transform: scaleY(0);
    transition: transform 0.5s ease;
}

span::before, .menu li a::before {
    left: -8px;
    transform-origin: center top;
}

span:hover::before, .menu li a:hover::before {
    transform-origin: center bottom;
    transform: scaleY(1);
}

span::after, .menu li a::after{
    right: -8px;
    transform-origin: center bottom;
}

span:hover::after, .menu li a:hover::after {
    transform-origin: center top;
    transform: scaleY(1);
}



/* SPECIFIC ELEMENT STYLES */

body{
    font-size: 24px;
    color: #FFF8E7;
    background: url("../../public/assets/star_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.7);
}

/* Navbar  */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    z-index: 100;
}

/* .navbar span,  {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, transparent, #00eeff);
    animation: animate 8s infinite ease;
} */

.logo {
    cursor: pointer;
}


li {
    list-style: none;
}


.menu {
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    font-weight: 100;
    background-color: #000;
    color: #fff;
}


/* MOBILE NAV  */

/* .mobmenu {
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    font-weight: 100;
    background-color: #000;
} */
/* 
.menu ul li {
    animation: rotate;
} */


/* MAIN CONTENT  */
main {
    overflow-x: hidden !important;
}


/* BACKGROUND VIDEO - EARF  */
#earf-block {
    /* position: absolute;
    bottom: 0; */
    /* z-index: -20; */
}

#earf {
    /* filter: hue-rotate(2.8rad) drop-shadow(6px 6px 20px #00eeff); */
    filter: hue-rotate(2.8rad);
}



/* HERO  */
.hero-text h1 {
    /* max-width: 50vw; */
    /* border-bottom: 2px solid #FFF8E7;
    padding: 2rem; */
    color: #00eeff;
    background-color: #000;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 1)));
}

.hero-text {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100vw;
}

.hero-text #light-glide {
    position: absolute;
    top: 150px;
    height: 2px;
    width: 70px;
    background: linear-gradient(90deg, transparent, #00eeff);
    animation: animate 8s infinite ease;
    overflow: hidden !important;
}

@keyframes animate {
    0% {
        left: 0;
        transform: translate(-100%);
    }

    100% {
        left: 100%;
        transform: translate(0%);
        opacity: 0.5;
    }
} 


/* DIVIDER STATISTICS  */
#stats {
    background-color: #FFF8E7;
    position: relative;
    z-index: 10;
    clear: both;
}

/* METAPXLS SECTION  */
#meta img{
    filter: hue-rotate(3.5123rad);
}

/* BACKGROUND BLOBS OF COLOR  */
.blob-box {
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    filter: blur(40px);
}

/* 
.blob-box-two {
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100%;
    filter: blur(40px);
    display: grid;
    grid-auto-flow: column;

} */

.shape-blob,
.blobby {
    background: #00eeff;
    height: 60px;
    width: 80px;
    border-radius: 40% 50% 30% 40%;
    animation:
        transform 18s ease-in-out infinite both alternate,
        movement_one 12s ease-in-out infinite both;
    opacity: .7;
    position: relative;
    left: 75%;
    top: 40%;
}

.shape-blob.one,
.blobby1 {
    background: #ff9c0e;
    height: 150px;
    width: 200px;
    left: 10px;
    top: 10px;
    transform: rotate(-180deg);
    animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.two,
.blobby2 {
    background: #52489c;
    height: 70px;
    width: 100px;
    left: 160px;
    top: 200px;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;
}


.shape-blob.three,
.blobby3 {
    background: #ff0e71;
    height: 100px;
    width: 80px;
    left: 350px;
    top: 60px;
    transform: rotate(-180deg);
    animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
}

.shape-blob.four,
.blobby4 {
    background: #00eeff;
    height: 150px;
    width: 200px;
    left: 510px;
    top: 400px;
    transform: rotate(-180deg);
    animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.five,
.blobby5 {
    background: #52489c;
    height: 70px;
    width: 100px;
    left: 460px;
    top: 20px;
    transform: rotate(-180deg);
    animation: transform 5s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;
}

.shape-blob.six,
.blobby6 {
    background: #ff0e71;
    height: 100px;
    width: 80px;
    left: 450px;
    top: 20px;
    transform: rotate(-180deg);
    animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;
}

@keyframes transform {

    0%,
    100% {
        border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%;
    }

    20% {
        border-radius: 37% 63% 51% 49% / 37% 35% 35% 63%;
    }

    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%;
    }

    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%;
    }

    80% {
        border-radius: 40% 60% 42% 58% / 51% 51% 49% 59%;
    }
}


@keyframes movement_one {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: translate(50%, 20%) rotateY(10deg) scale(1);
    }
}

@keyframes movement_two {

    0%,
    500% {
        transform: none;
    }

    50% {
        transform: translate(50%, 20%) rotate(-200deg) scale(1.3);
    }
}


/* ABOUT SECTION  */

#about {
    /* position: relative;
    z-index: 20;
    clear: both; */
    background-color: rgba(255, 248, 231);
    /* background: linear-gradient(0deg, #fff, #F2F2E3, #FFF8E7,#454545); */
}

#earf-mini {
    filter: hue-rotate(6.7rad) saturate(1) invert(0.2) drop-shadow(0 0 0.75rem #00eeff);
}

#contact img {
    /* filter: hue-rotate(8.9rad) invert(100%) saturate(98) opacity(0.7); */
}

/* 
#orbit-lines, #orbit-lines2, #orbit-lines3, #orbit-lines4 {
   position: absolute;
   margin-top: -4rem;
   overflow: hidden;
   width: 100vw;
}


.lines {
    animation: 3.6s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate orbit;
    margin-top: 2rem;
}

.lines2 {
    animation: 3.4s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate orbit;
    margin-top: 2rem;
}

.lines3 {
    animation: 3.2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate orbit;
    margin-top: 2rem;
}

.lines4 {
    animation: 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite alternate orbit;
    margin-top: 2rem;
}

@keyframes orbit {
    from {
        transform: translateY(10vh);
    }

    to {
        transform: translateY(-100);
    }
} */


/* 
#cta {
    position: relative;
    z-index: 20;
    clear: both;
}


 */


 /* ACADEMY PAGE  */

 #academy {
    font-size: 24px;
        color: #FFF8E7;
        background: url("../../public/assets/black_hole_gifs/bh_cyan_galaxy.gif");
        background-size: contain;
        background-repeat: no-repeat;
        /* background-color: #000; */
        box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0);
 }

 #academy-hero {
    width: 100vw;
    height: 100vh;
    margin-top: 2rem;
    /* background: rgba(255, 255, 255, 0.6); */
 }